<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="{{ site.baseurl }}/img/joe_logo.png" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="navbar-center"></div>
              <div class="navbar-center">
                  <ul class="nav navbar-nav ">
                      <!-- <li><a href="{{ site.baseurl }}/">Home</a></li> -->
                      <li><a href="{{ site.baseurl }}/boudoir">Boudoir</a></li>

                      <li><a href="{{ site.baseurl }}/boudoir">Boudoir</a></li>
                      
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Other Genres<i class="fa fa-chevron-down" style="padding-left: 5px"></i>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ site.baseurl }}/valentine">St. Valentine</a>
                            <a class="dropdown-item" href="{{ site.baseurl }}/couples">Couples</a>
                            <a class="dropdown-item" href="{{ site.baseurl }}/erotic">Erotic</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ site.baseurl }}/nudes">Nudes</a>
                          </div>
                        </li>
                      <!-- <li><a href="{{ site.baseurl }}/service">Service</a></li> -->
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Info<i class="fa fa-chevron-down" style="padding-left: 5px"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{ site.baseurl }}/about">About</a>
                          <a class="dropdown-item" href="{{ site.baseurl }}/testimonials">testimonials</a>
                          <a class="dropdown-item" href="{{ site.baseurl }}/prices">Prices</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ site.baseurl }}/faq">FAQ</a>
                        </div>
                      </li>
                      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                    </ul>
              </div>
              <div class="navbar-right">
                    <ul class="nav navbar-nav navbar-social social-icons">
                      <li>
                        <a href="http://www.themefisher.com"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="http://www.themefisher.com"><i class="fa fa-tumblr"></i></a>
                      </li>
                      <li>
                        <a href="http://www.themefisher.com"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="http://www.themefisher.com"><i class="fa fa-facebook"></i></a>
                      </li>
                    </ul>
              </div>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid --> 
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
